/*-- scss:defaults --*/

// Base document colors
$body-bg: #282c34;
$body-color: #abb2bf;
$link-color: #61afef;
$code-color: #61afef;

// Navigation element colors
$footer-bg: #282c34;
$navbar-bg: #282c34;
$sidebar-bg: #2E3440;
$input-bg:#2E3440;

$font-size-root: 1em;
$h1-font-size: 1.5em;
$h2-font-size: 1.25em;
$h3-font-size: 1em;
$h4-font-size: 0.75em;
$h5-font-size: 0.7em;
$h6-font-size: 0.6em;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #282c34;

// Bootstrap inputs
svg.aa-SubmitIcon{
  color: #fff!important;
}

.aa-Autocomplete .aa-Form, .aa-DetachedFormContainer .aa-Form{
  border: 1px solid #abb2bf!important;
}

div.sourceCode{
border: 1px solid #abb2bf!important;
}

ul.dropdown-menu.show{
  font-size: 14px;
  border-color: #abb2bf!important;
  background: #2E3440!important;
}

ul.dropdown-menu-end.show{
  font-size: 14px;
  border-color: #abb2bf!important;
  background: #282c34!important;
}

#quarto-code-tools-menu,
button#quarto-code-tools-source.btn.code-tools-button{
  border-color: #abb2bf!important;
}

input#autocomplete-0-input{
  color: #abb2bf;
}

input{
  caret-color: #abb2bf;
}

.dropdown-item:hover, .dropdown-item:focus{
  background-image: none!important;
  background-color: #3B4252!important;
}

i.bi.bi-search{
  color: #abb2bf;
}

.breadcrumb{
  border: none!important;
  background-color: transparent!important;
  background-image: none!important;
}

button.quarto-btn-toggle{
  border-color: none!important;
}
