/*-- scss:defaults --*/
h1.title,
h2, .h2, h2.anchored,
h3, .h3, h3.anchored,
p.subtitle.lead {
text-align: center;
}

$link-color: #61AFEF;

$font-size-root: 1em;
$h1-font-size: 1.5em;
$h2-font-size: 1.25em;
$h3-font-size: 1em;
$h4-font-size: 0.75em;
$h5-font-size: 0.7em;
$h6-font-size: 0.6em;

.dropdown-menu {
font-size: 0.8rem;
}

$code-color: #61AFEF;

.aa-Autocomplete .aa-Form, .aa-DetachedFormContainer .aa-Form{
  border: 1px solid #282c34!important;
  border-radius: .25rem!important;
}

.dropdown-menu.show{
font-size: 14px;
background: #fff;
}

.nav-footer-left{
  display: flex!important;
  min-height: 3.5em!important;
  align-items: center!important;
}

.nav-footer-right{
  vertical-align: center!important;
}

.nav-footer{
  padding-bottom: 0rem!important;
}

.bi-person::before{
  font-size: 20px;
}

.quarto-secondary-nav button.quarto-search-button{
  all: initial;
}